@charset "utf-8";

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #89205c;
	background-image: url(images/whiteTop.gif);
	background-repeat: repeat-x;
}

.clearMe{clear:both;}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}

blockquote{
	text-indent:-5px;
}
h1,  h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
.sidebar1 h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #89205C;
	padding-left: 36px;
	padding-top: 25px;
}

h2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #1b677d;
	padding:20px 0px 0px -15px;
	
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}
.wrapper {
	background-image: url(images/background.png);
	background-repeat: repeat-y;
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

/* ~~this fixed width container surrounds the other divs~~ */
.container {
	width: 960px; /* the auto value on the sides, coupled with the width, centers the layout */
	background-color: #FFF;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#Insert_logo {
	position: relative;
	top: 40px;
	float:left;
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {
	background-color: #FFFFFF;
	height: 180px;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-bottom-color: #89205C;
}

ul.headerBullets{
	float:right;
	list-style-type:none;
	margin:14px 10px 0px 0px;
	text-align:right;
	color:#89235c;
	position:relative;
}

ul.headerBullets li{
	margin:12px 0px;
	padding:0px 20px 0px 0px;
	background:url(images/arrow.jpg) no-repeat center right;
	position:relative;
	font-size:17px;
	line-height:23px;
}

ul.headerBullets li div{
	color:#000;
	font-size:12px;
	width:300px;
	position:absolute;
	top:25px;
	left:-110px;
	background-color:#fff;
	z-index:30;
	padding:10px;
	border:1px solid #e9e9e9;
	min-height:65px;
	display:none;
}

ul.headerBullets li:hover{
	cursor:pointer;
}

ul.headerBullets li:hover div{
	display:block;
}

.hilight{
	color:#89205C;
	font-weight:bold;
}
/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the divs. The elements within these divs have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a div set to float right). Many times, padding can be used instead. For divs where this rule must be broken, you should add a "display:inline" declaration to the div's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar divs could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the right instead of the left, simply float these columns the opposite direction (all right instead of all left) and they'll render in reverse order. There's no need to move the divs around in the HTML source.

*/
.sidebar1 {
	float: left;
	width: 400px;
	padding-bottom: 10px;
}
.sidebar1 p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 32px;
	color: #666;
	padding-left: 36px;
}
#topImg {
}
.content {
	width: 530px;
	float: right;
}
.slideshow {
	width: 480px;
	overflow: auto;
}
.slideshow table {
	width: 16320px;
}
.slideshow table tr td {
	width: 480px;
}


/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.nav {
	list-style: none; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}
ul.nav li {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
	color: #89205C;
	padding-top: 30px;
	padding-left: 36px;
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	display: block;  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */
	text-decoration: none;
	padding-bottom: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
	color: #999;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	color: #89205C;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
}

/* ~~ The footer ~~ */
.footer {
	padding: 0;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	float:right;
	color:#fff;
	margin:10px 0px;
}

.footer p{
	padding:0px;
} 
.description {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666666;
	display: block;
	padding-left: 20px;
	height: 50px;
	padding-top: 10px;
}


/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.quote {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 32px;
	color: #F25A2B;
	text-align: center;
	display: block;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
	line-height: 32px;
}
.quoteby {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: italic;
	font-weight: lighter;
	color: #F25A2B;
	text-align: right;
	padding-right: 30px;
	display: block;
}

/* ~~ testimonials~~ */

#slideshow div{
	width:310px;
	margin-top:80px;
}

#slideshow p{
	font-size:13px;
	line-height:22px;
	text-indent:-5px;
}

#slideshow p.credit{
	text-align:right;
	font-style:italic;
}


/* ~~ tabbed portfolio~ */
#tabs{
	width:520px;
	position:relative;
	
}

#logos, #print, #web, #multi, #book{
	float:left;
	padding:30px 0px 0px 0px;
	width:520px;
	height:520px;
	
}


#tabs ul#menu{
	margin:20px 0px 0px 0px;
	padding:0px;
	float:left;
}

#tabs ul#menu li{
	display:block;
	float:left;
	margin:0px 2px 0px 0px;
	background-color:#d1d2d4;
	text-transform:uppercase;
	padding:4px 9px;
	font-size:12px;
}

#tabs ul#menu li:last-child{
	margin-right:0px !important;
}

#tabs ul#menu li a{
	text-decoration:none;
	color:#fff;
	font-weight:bold;
}

#tabs ul#menu li a:hover, #tabs ul li.active a{
	color: #89205c !important;
}

.slideshow2, .slideshow2 div, .slideshow3, .slideshow3 div, .slideshow4, .slideshow4 div, .slideshow5, .slideshow5 div, .slideshow6, .slideshow6 div{
	width:520px !important;
	float:left;
	text-align:center;
}

.slideshow2 img,.slideshow3 img{
	padding-bottom:20px;
}

.slideshow5 img{
	padding:30px 0px 20px 0px;

}

.slideshow4 img.multiStatic{
	padding-bottom:20px;
}


a.prev2, a.prev3, a.prev4, a.prev5, a.prev6{
	width:26px;
	height:105px;
	background:url(images/arrow_left.gif) no-repeat;
	text-indent:-9999px;
	line-height:50px;
}

ul.slideNav{
list-style-type:none;
padding:0px;
margin:0px;
}

ul.slideNav li.prev2, ul.slideNav li.prev3, ul.slideNav li.prev4, ul.slideNav li.prev5, ul.slideNav li.prev6{
	width:26px;
	height:105px;
	background:url(images/arrow_left.gif) no-repeat;
	line-height:1000px;
	overflow:hidden;
	float:left;
	position:absolute;
	top:495px;
	z-index:1000;
}

ul.slideNav li.next2, ul.slideNav li.next3, ul.slideNav li.next4, ul.slideNav li.next5, ul.slideNav li.next6{
	width:26px;
	height:105px;
	background:url(images/arrow_right.gif) no-repeat;
	line-height:1000px;
	overflow:hidden;
	position:absolute;
	right:10px;
	top:495px;
	z-index:1001;
}

.slideshow2 div p, .slideshow3 div p, .slideshow4 div p, .slideshow5 div p, .slideshow6 div p{
	text-align:left;
	font-size:12px;
	width:425px;
	margin-left:20px;
}


.slideshow2 div p{
	margin-top:30px;
}



ul.slideNav li.next2 a, ul.slideNav li.next3 a, ul.slideNav li.next4 a, ul.slideNav li.next5 a, ul.slideNav li.next6 a{
cursor:pointer;
}

ul.slideNav li.next2:hover, ul.slideNav li.prev2:hover, ul.slideNav li.next3:hover, ul.slideNav li.prev3:hover, ul.slideNav li.next4:hover, ul.slideNav li.prev4:hover, ul.slideNav li.next5:hover, ul.slideNav li.prev5:hover, ul.slideNav li.next6:hover, ul.slideNav li.prev6:hover{
	cursor:pointer;
	
}

a.youtube img{
	margin:70px 0px 115px 0px;
	}

.currentProject{
	margin-top:20px;
}

form{
	margin-bottom:100px;
}


input[type=text]{
	width:281px;
	height:18px;
	border:1px solid #999;
}

textarea {
	width:281px;
	height:125px;
	border:1px solid #999;

}

#submit {
	-moz-box-shadow:inset 0px 1px 0px 0px #44badb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #44badb;
	box-shadow:inset 0px 1px 0px 0px #44badb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #30a2bf), color-stop(1, #1b687d) );
	background:-moz-linear-gradient( center top, #30a2bf 5%, #1b687d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#30a2bf', endColorstr='#1b687d');
	background-color:#30a2bf;
	border:1px solid #3b92a8;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:13px;
	font-weight:bold;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:1px 1px 0px #135669;
}#submit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1b687d), color-stop(1, #30a2bf) );
	background:-moz-linear-gradient( center top, #1b687d 5%, #30a2bf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b687d', endColorstr='#30a2bf');
	background-color:#1b687d;
	cursor:pointer;
}#submit:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
/* This imageless css button was generated by CSSButtonGenerator.com */



